/*
 * CSS Reset, font-icons import and common styles
 *
 */

@import url(http://weloveiconfonts.com/api/?family=entypo|zocial);

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
  
/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

body, section, header, main, nav,
h1, h2, h3, h4, h5, h6
p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #fff;
    font-family: 'Fira Sans', sans-serif; 
}
.lifes {
    display: flex;
    list-style: none;
}
.lifes li:not(:last-child) {
    margin-right: 5px;
}

.deck {
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    align-items: stretch;
    background-color: white;
    justify-content: space-evenly;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

/* header + navigation controls */
.navigation {
    display: flex;
    padding: 15px 0;
    font-size: 1.35em;
    align-items: center;
    justify-content: space-between;
}
.btn-reset {
    border: none;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
}


/* cards */
.card {
    padding: 12px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: calc((100% - 0px)/4);
    background-color: #ededed;
    transition: background-color .2s ease;
}
.card:hover {
    background-color: #d4d4d4;
}

.on {
    color: #fff;
    font-size: 2em;
    background-color: #157efb;
}