/*
 * CSS Reset, font-icons import and common styles
 *
 */

@import url(http://weloveiconfonts.com/api/?family=entypo|zocial);

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
  
/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

body, section, header, main, nav,
h1, h2, h3, h4, h5, h6
p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #ededed;
    font-family: 'Fira Sans', sans-serif; 
}

.deck {
    width: 680px;
    min-height: 600px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

/* header + navigation controls */
.navigation {
    display: flex;
    font-size: 1.35em;
    justify-content: space-between;
}

.lifes,
.board {
    display: flex;
}


/*
 * cards
 *
 */

.board {
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    padding: 12px;
    display: flex;
    cursor: pointer;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
}

.on {
    color: #fff;
    font-size: 2em;
    background-color: #157efb;
}